@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
  }

.bg-links{
  background-color: #d6d6d6;
}

h1, h2, h3, h4, h5{
  font-family: 'Merriweather', serif;
}