.modal-zoom{
    width: 800px;
    height: 600px;
    overflow: hidden;
  }
  
.modal-zoom img{
    transition: 1s all ease-in-out;
}
  
.modal-zoom:hover img {
    -webkit-transform:scale(2); /* Safari and Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
    transform:scale(2);
}